= form_for appliance_comment do |f|
  .mt-4.bg-white.rounded-lg.p-3.md:p-8.shadow-lg.hover:shadow-2xl.transition-all.duration-150
    %h3.text-xl.font-bold Jelentés írása
    %p.text-sm.border-l-4.pl-2 Ha az eszköz állapotában változást vélsz felfedezni, adj le egy jelentést!
    
    - if appliance_comment.errors.any?
      = render 'layouts/errors', errors: appliance_comment.errors
    
    .mt-4
      = f.label :category, class: "block text-gray-700 text-sm font-bold mb-2"
      .relative
        = collection_select :appliance_comment, :category, ApplianceComment.categories.keys, :to_s, :to_s, {prompt: true}, {class: "block shadow bg-white appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"}
        .pointer-events-none.absolute.inset-y-0.right-0.flex.items-center.px-2.text-gray-700
          %svg.fill-current.h-4.w-4{:viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"}
    .mt-1
      = f.label :body, class: "block text-gray-700 text-sm font-bold mb-2"
      = f.text_area :body, rows: 3, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
    .mt-1
      = f.hidden_field(:appliance_id ,value: f.object.appliance.id)
    .mt-2.text-right
      = f.submit 'Küldés', class: "bg-green-600 hover:bg-green-500 text-white font-bold py-2 px-4 rounded"
