%h1 Listing appliance_comments

%table
  %thead
    %tr
      %th Category
      %th Body
      %th Appliance
      %th
      %th
      %th

  %tbody
    - @appliance_comments.each do |appliance_comment|
      %tr
        %td= appliance_comment.category
        %td= appliance_comment.body
        %td= appliance_comment.appliance
        %td= link_to 'Show', appliance_comment
        %td= link_to 'Edit', edit_appliance_comment_path(appliance_comment)
        %td= link_to 'Destroy', appliance_comment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Appliance comment', new_appliance_comment_path
