= form_with(model: kitchen, local: true) do |form|
  - if kitchen.errors.any?
    = render 'layouts/errors', errors: kitchen.errors

  .mt-4
    = form.label :floor, "Szint", class: "block text-gray-700 text-sm font-bold mb-2"
    = form.number_field :floor, max: 18, min: 3, required: true, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
  .mt-1
    = form.submit "Mentés", class: "bg-green-600 hover:bg-green-500 text-white font-bold py-2 px-4 rounded"
    = yield :extra_buttons
