<p id="notice"><%= notice %></p>

<h1>Kitchens</h1>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  Button
</button>

<table>
  <thead>
    <tr>
      <th>Floor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kitchens.each do |kitchen| %>
      <tr>
        <td><%= kitchen.floor %></td>
        <td><%= link_to 'Show', kitchen %></td>
        <td><%= link_to 'Edit', edit_kitchen_path(kitchen) %></td>
        <td><%= link_to 'Destroy', kitchen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kitchen', new_kitchen_path %>
