!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
    %title= "Konyha"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.text-gray-700.flex.flex-col.md:grid.md:grid-cols-4.min-h-screen
    = render 'layouts/nav'

    - # container for right/main panel
    .md:col-span-3.bg-blue-100.flex-1.flex.flex-col

      - # notice box
      - if flash[:notice]
        #notice.mx-auto.py-4{:class => "w-5/6 md:w-2/3"}
          .bg-teal-100.border-t-4.border-teal-500.rounded-b.text-teal-900.px-4.py-3.shadow-md{:role => "alert"}
            %button#close-notice.bg-transparent.hover:bg-red-200.float-right.p-1.rounded
              %svg.fill-current.h-4.w-4.text-red-600{:role => "button", :viewbox => "2 2 16 16", :xmlns => "http://www.w3.org/2000/svg"}
                %title="Bezárás"
                %path{:d => "M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"}
            .flex
              .py-1
                %svg.fill-current.h-5.w-5.text-teal-500.mr-4{:viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"}
              %div
                %p.text-md= flash[:notice]

      %main.mx-6.my-6.md:mx-16.md:mt-10.md:mb-6.flex-1
        = yield

      %footer.mx-2.my-2.text-center
        %h5 
          = link_to 'KonyhaSCH', 'https://github.com/kir-dev/konyha', class: 'no-underline hover:underline text-blue-500'
          © 2020
        %p
          Powered by
          = link_to 'Kir-Dev', 'https://kir-dev.sch.bme.hu/', class: 'no-underline hover:underline text-blue-500'
  
  = javascript_pack_tag 'main.js'
  = yield :scripts
